{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<li data-index="rs-3" data-transition="crossfade" data-slotamount="default" data-hideafterloop="0"
    data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default"
    data-thumb="{{ file_url(content.field_slide_imagen['#items'].entity.uri.value) }}" data-rotate="0" data-saveperformance="off"
    data-title="Slide"
    data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
    data-param8="" data-param9="" data-param10="" data-description="">

  <!-- MAIN IMAGE -->
  <img src="{{ file_url(content.field_slide_imagen['#items'].entity.uri.value) }}" alt="" data-bgposition="center center" data-bgfit="cover"
       data-bgrepeat="no-repeat"
       data-bgparallax="off" class="rev-slidebg" data-no-retina>
  <!-- LAYERS -->
  <!-- Overlay -->
  <div class="overlay overlay-dark opacity-6"></div>

   <div class="rs-background-video-layer"
        data-forcerewind="on"
        data-volume="mute"
        data-videowidth="100%"
        data-videoheight="100vh"
        data-videomp4="{{ file_url(content.field_slide_video['#items'].entity.uri.value) }}"
        data-videopreload="auto"
        data-videoloop="loopandnoslidestop"
        data-forceCover="1"
        data-aspectratio="16:9"
        data-autoplay="true"
        data-autoplayonlyfirsttime="false"></div>

  <div class="tp-caption tp-resizeme contextual-region"
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
       data-y="['middle','middle','middle','middle']" data-voffset="['-110','-100','-100','-100']"
       data-whitespace="nowrap" data-responsive_offset="on"
       data-width="['none','none','none','none']" data-type="text"
       data-textalign="['center','center','center','center']"
       data-transform_idle="o:1;"
       data-transform_in="x:-50px;opacity:0;s:2000;e:Power3.easeOut;"
       data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
       data-start="1000" data-splitin="none" data-splitout="none">
    <h2 class="font-xlight">{{ content.field_slide_texto_1|field_value }}</h2>
    {{ title_prefix }}
    {{ title_suffix }}
  </div>
  <div class="tp-caption tp-resizeme"
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
       data-y="['middle','middle','middle','middle']" data-voffset="['-30','-30','-30','-30']"
       data-whitespace="nowrap" data-responsive_offset="on"
       data-width="['none','none','none','none']" data-type="text"
       data-textalign="['center','center','center','center']"
       data-transform_idle="o:1;"
       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
       data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
       data-start="900" data-splitin="none" data-splitout="none">
    <h2 class="font-bold">{{ content.field_slide_texto_2|field_value }}</h2>
  </div>
  <div class="tp-caption tp-resizeme"
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
       data-y="['middle','middle','middle','middle']" data-voffset="['35','35','35','35']"
       data-whitespace="nowrap" data-responsive_offset="on"
       data-width="['none','none','none','none']" data-type="text"
       data-textalign="['center','center','center','center']" data-fontsize="['24','24','18','16']"
       data-transform_idle="o:1;"
       data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;"
       data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
       data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
       data-start="1600" data-splitin="none" data-splitout="none">
    <p class="font-light text-capitalize">{{ content.field_slide_texto_3|field_value }}</p>
  </div>
  <div class="tp-caption tp-resizeme"
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
       data-y="['middle','middle','middle','middle']" data-voffset="['140','160','160','160']"
       data-width="['500','500','500','500']" data-textalign="['center','center','center','center']"
       data-type="text"
       data-whitespace="nowrap" data-transform_idle="o:1;"
       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
       data-transform_out="s:900;e:Power2.easeInOut;s:900;e:Power2.easeInOut;" data-start="1800"
       data-splitin="none" data-splitout="none" data-responsive_offset="on">
    <a class="button btn-primary transition-3 button-padding font-13 pagescroll" href="{{ content.field_slide_boton.0['#url'] }}">
      {{ content.field_slide_boton.0['#title'] }}
    </a>
  </div>
</li>
